<template name="header">
		<!-- start: Header -->
	<header class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">NVQhq</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target="navHeaderCollapse">Menu</button>
            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Dashboard</a></li>
                </ul>
            </div>
            <ul>
				<li>
					<a class="btn" href="index.html#">
						<i class="fa fa-wrench"></i>
					</a>
				</li>
				<!-- start: User Dropdown -->
                {{> user_info}}
				<!-- end: User Dropdown -->
			</ul>
		</div>
		<!-- end: Header Menu -->
	</header>
	<!-- end: Header -->
</template>

<template name="user_info">
  {{#if currentUser}}
    {{> user_loggedin}}
  {{else}}
    {{> user_loggedout}}
  {{/if}}
</template>

<template name="user_loggedin">
  {{#if loggingIn}}
    <li><a>Logging in...</a></li>
  {{else}}
    <li class="dropdown">
      <a class="btn account dropdown-toggle" data-toggle="dropdown" href="index.html#">
        <div class="avatar"><img src="{{currentUser.profile.avatar_url}}" alt="Avatar"></div>
        <div class="user">
          <span class="hello">Welcome!</span>
          <span class="name">{{currentUser.profile.login}}</span>
        </div>
      </a>
      <ul class="dropdown-menu">
        <li><a href="index.html#"><i class="fa fa-user"></i> Profile</a></li>
        <li><a href="index.html#"><i class="fa fa-cog"></i> Settings</a></li>
        <li><a href="index.html#"><i class="fa fa-envelope"></i> Messages</a></li>
        <li><a href="page-login.html"><i class="fa fa-off"></i> Logout</a></li>
      </ul>
    </li>
  {{/if}}
</template>

<template name="user_loggedout">
  <li>{{> loginButtons }}</li>
</template>
