<template name="header">
    <!-- start: Header -->
    <header>
        <!-- start: Header Menu -->
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-header">
                <button id="navbarToggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">NVQhq</a>
            </div>
            <ul id="accountInfo" class="nav navbar-nav navbar-right">
                <!-- start: User Dropdown -->
                {{> accountInfo}}
                <!-- end: User Dropdown -->
            </ul>
        </div>
        <!-- end: Header Menu -->
    </header>
    <!-- end: Header -->
</template>

<template name="accountInfo">
  {{#if currentUser}}
    {{> accountLoggedIn}}
  {{else}}
    {{> accountLoggedOut}}
  {{/if}}
</template>

<template name="accountLoggedIn">
  {{#if loggingIn}}
    <li><a>Logging in...</a></li>
  {{else}}
    <li class="loggedin dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <div class="avatar"><img src="{{currentUser.profile.avatar_url}}" alt="Avatar"></div>
            <b class="caret pull-right"></b>
            <div class="user">
                <span class="hello">Welcome!</span>
                <span class="name">{{currentUser.profile.login}}</span>
            </div>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
            <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
            <li><a href="#"><i class="fa fa-envelope"></i> Messages</a></li>
            <li><a id="logout" href="#"><i class="fa fa-off"></i> Logout</a></li>
        </ul>
    </li>
  {{/if}}
</template>

<template name="accountLoggedOut">
    <li class="loggedout dropdown">
        <a class="data-toggle" data-toggle="dropdown" href="#">
            Login
        </a>
        <ul class="dropdown-menu">
            <li><a id="loginWithFacebook" href="#">Login with Facebook</a></li>
            <!-- <li><a id="loginWithTwitter" href="#">Login with Twitter</a></li>
            <li><a id="loginWithGoogle" href="#">Login with Google</a></li>-->
            <li><a id="login" href="#">Login</a></li>
        </ul>
    </li>
</template>
