<template name="header">
    <!-- start: Header -->
    <header class="container">
        <!-- start: Header Menu -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">NVQhq</a>
            <ul class="nav navbar-nav navbar-right">
                <!-- start: User Dropdown -->
                {{> user_info}}
                <!-- end: User Dropdown -->
            </ul>
            </div>
            <div class="navbar-collapse collapse navHeaderCollapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Dashboard</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Courses <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {{#each courses}}
                                <!-- Add if user / admin checks -->
                                {{> admListCoursesItem}}
                            {{/each}}
                        </ul>
                    </li>
                    <li><a href="{{pathFor 'lnrCourseList'}}">Courses</a></li>
                    <li><a href="#">Test Link</a></li>
                    <li><a href="#">Test Link</a></li>
                    <li><a href="#">Test Link</a></li>
                </ul>
            </div>
        </div>
        <!-- end: Header Menu -->
    </header>
    <!-- end: Header -->
</template>

<template name="user_info">
  {{#if currentUser}}
    {{> user_loggedin}}
  {{else}}
    {{> user_loggedout}}
  {{/if}}
</template>

<template name="user_loggedin">
  {{#if loggingIn}}
    <li><a>Logging in...</a></li>
  {{else}}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <div class="avatar"><img src="{{currentUser.profile.avatar_url}}" alt="Avatar"></div>
            <div class="user">
                <span class="hello">Welcome!</span>
                <span class="name">{{currentUser.profile.login}}</span>
            </div>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
            <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
            <li><a href="#"><i class="fa fa-envelope"></i> Messages</a></li>
            <li><a href="#"><i class="fa fa-off"></i> Logout</a></li>
        </ul>
    </li>
  {{/if}}
</template>

<template name="user_loggedout">
    <li><a href="#">Login</a></li>
</template>
