<template name="layout">
    {{> header}}
    <div class="container">
        <div class="row">
            {{> yield "sidebarLeft"}}
            {{#if currentUser}}
                {{> defaultWidth}}
            {{else}}
                {{> fullWidth}}
            {{/if}}
        </div>
    </div>
    {{> footer}}
</template>

<template name="defaultWidth">
    <div id="content" class="col-lg-10 col-sm-11">
        {{> yield}}
    </div>
</template>

<template name="fullWidth">
    <div id="content" class="col-lg-12">
        {{> yield}}
    </div>
</template>
