header {
    position: relative;
}

header .navbar-toggle {
    position: absolute;
    top:0;
    left: 0;
}

header #accountInfo {
    position: absolute;
    top:0;
    right: 0;
}

#sidebar-left {
    background-color: #000000;
    color: #FFFFFF;
}

#content {
    background-color: #00FFFF;
}
