header {
    position: relative;
}

header #navbarToggle {
    position: absolute;
    top:0;
    left: 0;

    border: 1px solid rgba(0, 0, 0, 0);

    height: @navbar-height;
    width: 40px;
}

header .navbar-brand {
    margin-left: 40px;
}

header #accountInfo {
    position: absolute;
    top:0;
    right: 0;

    height: @navbar-height;

    li {
        &.loggedin {
            a.dropdown-toggle {
                height: @navbar-height;
                padding: 0 !important;
            }

            .caret {
                float: right;
                margin: 22px 10px 0 0;
            }

            .avatar {
                float: right;
                width: @navbar-height;
            }

            .user {
                float: right;
                margin: 15px 10px 0 0;
            }
        }
        &.loggedout {
            padding: 0 @navbar-padding-horizontal 0 @navbar-padding-horizontal !important;
        }
    }
}

#sidebar-left {
    background-color: #000000;
    color: #FFFFFF;
}

#content {
    background-color: #00FFFF;
}
